<!DOCTYPE html>
<html lang="pt=br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar campeão</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Adicionar campeão</h1>
    <form action="/champions/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Digite o nome do personagem">
        </div>
        <div>
            <input type="text" name="lane" placeholder="Digite a rota principal do personagem">
        </div>
        <div>
            <input type="submit" value="Registrar" class="registerBtn">
        </div>
    </form>

    <a href="/" class="backBtn">Voltar</a>

    <div class="backImage">
        <img src="/img/yasuo.png" alt="Yasuo" title="Yasuo">
        <img src="/img/ashe.png" alt="Ashe" title="Ashe">
    </div>
</body>

</html>